{% extends "base.html" %}

{% block heading %}
    Welcome to our {{page}} Page
    {%endblock heading%}

{% block content%}

<div class="container mt-4">
    {% for message in messages%}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
    {% endfor %}
    <br>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Sr no.</th>
                <th>Contact Number</th>
                <th>Address</th>
                <th>City</th>
                <th>Country</th>
                <th>Feedback</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
      
        <tbody>
            {% for info in con_info%}
            <tr>
                <td>{{info.id}}</td>
                <td>{{info.Number}}</td>
                <td>{{info.Address}}</td>
                <td>{{info.City}}</td>
                <td>{{info.Country}}</td>
                <td>{{info.Feedback}}</td>
                <td><a href="{% url 'edit_con' info.id %}">Edit</a></td>
                <td><a href="{% url 'del_con' info.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="?page=1">Previous</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ all_task.previous_page_number }}">1</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ all_task.number }}">2</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ all_task.next_page_number }}">3</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ all_task.paginator.num_pages }}">Next</a></li>
  </ul>
</nav>

</div >

   <div class="container mt-4">

    <h3 class="mb-4">Contact Form</h3>

    <form method = "post">
        {%csrf_token%}

        <div class="mb-3">
            <label class="form-label">Contact Number</label>
            <input
                type="tel"
                name="Number"
                class="form-control"
                placeholder="Enter Contact Number">
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <input
                type="text"
                name="Address"
                class="form-control"
                placeholder="Enter Address">
        </div>

        <div class="mb-3">
            <label class="form-label">City</label>
            <input
                type="text"
                name="City"
                class="form-control"
                placeholder="Enter City">
        </div>

        <div class="mb-3">
            <label class="form-label">Country</label>
            <input
                type="text"
                name="Country"
                class="form-control"
                placeholder="Enter Country">
        </div>

        <div class="mb-3">
            <label class="form-label">Feedback</label>
            <textarea
                name="Feedback"
                class="form-control"
                rows="5"
                placeholder="Write your feedback here..."></textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Submit
        </button>

    </form>

</div>
{% endblock content%}