{% extends "base.html" %}

{% block title %}
Edit Contact Information
{% endblock title %}

{% block content %} 
<div class = "container">
    <div class="container mt-4">

    <h3 class="mb-4">Contact Form</h3>

    <form method = "post">
        {%csrf_token%}

        <div class="mb-3">
            <label class="form-label">Contact Number</label>
            <input
                type="tel"
                name="Number"
                class="form-control"
                value="{{con_obj.Number}}">
        </div>

        <div class="mb-3">
            <label class="form-label">Address</label>
            <input
                type="text"
                name="Address"
                class="form-control"
                value="{{con_obj.Address}}">
        </div>

        <div class="mb-3">
            <label class="form-label">City</label>
            <input
                type="text"
                name="City"
                class="form-control"
                value="{{con_obj.City}}">
        </div>

        <div class="mb-3">
            <label class="form-label">Country</label>
            <input
                type="text"
                name="Country"
                class="form-control"
                value="{{con_obj.Country}}">
        </div>

        <div class="mb-3">
            <label class="form-label">Feedback</label>
            <textarea
                name="Feedback"
                class="form-control"
                rows="5"
                value="{{con_obj.Feedback}}">
            </textarea>
        </div>

        <button type="submit" class="btn btn-primary">
            Update
        </button>

    </form>

</div>
</div>
{% endblock content %}