{% extends "base.html"%}

{% block heading%}
   Welcome to our {{page}} Page
   {% endblock heading%}

{% block content %}
</div>

    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for info in all_infor %}
        <tr>
            <td>{{info.First_Name}}</td>
            <td>{{info.SurName}}</td>
            <td>{{info.Age}}</td>
            <td>{{info.Gender}}</td>
            <td>{{info.Date_of_birth}}</td>
            <td>Edit Info</td>
            <td>Delete Info</td>

        </tr>
        {% endfor %}
    </tbody>
    </table>
    <br>

    <div class="container mt-4">

    <h3>Information Form</h3>

    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" name = "First_Name" class="form-control" placeholder="Enter First Name">
        </div>

        <div class="mb-3">
            <label class="form-label">Surname</label>
            <input type="text" name = "SurName" class="form-control" placeholder="Enter Surname">
        </div>

        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="number" name = "Age" class="form-control" placeholder="Enter Age">
        </div>

        <div class="mb-3">
            <label class="form-label">Gender</label>
            <input class="form-control" name = "Gender" placeholder="Male-M, Female-F, Other-O">
        </div>

        <div class="mb-3">
            <label class="form-label">Date of Birth</label>
            <input class="form-control" name = "Date_of_birth" placeholder="YYYY-MM-DD">
        </div>

        <button type="submit" class="btn btn-primary">
            Submit
        </button>

    </form>
{%endblock content%}