{% extends "base.html" %}

{% block heading %}
    Welcome to our {{page}} Page
    {%endblock heading%}


{% block content %}
  <div class = "container">
    <br>
    <form method = "post">
    {% csrf_token %}
    {%for message in messages%}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
       <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
       </div>
    {%endfor%}
<br>
  <div class="mb-3">
    <label>New Task</label>
    <br>
    <input type="text" name = "task" class="form-control" placeholder="Enter your new Task here">
    <br>
  <button type="submit" class="btn btn-primary">Add task</button>
</form>
<br> 
<br>
   <table class="table">
    <thead>
     <tr>
      <th scope="col">Sr no.</th>
      <th scope="col">Task</th>
      <th scope="col">Completion Status</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

     </tr>
    </thead>
   <tbody>
    {% for task in all_task %}
      {% if task.is_completed %}
        <tr class = "table-success">
          <th scope="row">{{task.id}} </th>
          <td>{{task.task}}</td>
          <td><a href = "{% url 'pend_task' task.id%}">Mark as Completed</a>
          <td><a href = "{% url 'edit_task' task.id%}">Edit</a>
          <td><a href = "{% url 'del_task' task.id%}">Delete</a></td>
        </tr>
      {%else%}
        <tr>
          <th scope="row">{{task.id}}</th>
          <td>{{task.task}}</td>
          <td><a href = "{% url 'comp_task' task.id%}">Mark as Pending</a>
          <td><a href = "{% url 'edit_task' task.id%}">Edit</a>
          <td><a href = "{% url 'del_task' task.id%}">Delete</a></td>
        </tr>  
      {% endif %}
    {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
    </div>
{% endblock content%}